@page 

@model LucidLogic.Pages.Blogs.IndexModel
<!-- What makes it different is the "atpage" directive. -->
<!--       "atpage" makes the file into an MVC action - which means  -->
<!-- that it handles requests directly, without going through a controller. -->
<!-- "atpage" must be the first Razor directive on a page. "atpage" affects the -->
<!-- behavior of other Razor constructs. -->
@{
    ViewData["Title"] = "Index";
}
<div class="container">
<h1 class="modal-title">My Firs4t Blog/Razor Page</h1>
</div>
<h1 class="modal-title">My First Blog/Razor Page</h1>

<p >
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Blog) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
